{
    "AWS_S3_DEPLOYMENT_BUCKET": "my-serverless-deployment",
    "AWS_LAMBDA_EXECUTION_ROLE": "arn:aws:iam::ACCOUNT_ID:role/AWSLambdaMSKDemoWalkthroughRole",
    "AWS_LAMBDA_EXECUTION_TIMEOUT": "300",
    "AWS_LAMBDA_MSK_BATCH_SIZE": "1000",
    "AWS_VPC_SECURITY_GROUP_ID_1": "sg-<AWSLambdaMSKDemoWalkthroughSG>",
    "AWS_VPC_SUBNET_ID_1": "<SUBNET_ID_1>",
    "AWS_VPC_SUBNET_ID_2": "<SUBNET_ID_2>",
    "AWS_MSK_CLUSTER_1": "<AWS_MSK_CLUSTER_1_ARN>",
    "AWS_MSK_BOOTSTRAP_SERVERS_1": "<AWS_MSK_BOOTSTRAP_SERVERS_1_URLS>",
    "AWS_MSK_CLUSTER_2": "<AWS_MSK_CLUSTER_1_ARN>",
    "AWS_MSK_BOOTSTRAP_SERVERS_2": "<AWS_MSK_BOOTSTRAP_SERVERS_1_URLS>",
    "KAFKA_STARTING_POSITION": "LATEST",
    "ORDERS_TOPIC": "demo-walkthrough-orders",
    "SCHEMA_REGISTRY_URL": "http://schema-registry-url:8081",
    "MYSQL_CONN_STRING": "mysql+pymysql://user:password@rds_host:3306/database_name"
}